* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    background: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

html {
    background-color: #1a1a1a;
}


.card {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #bababa;
    background-color: #323232;
    padding: 5px 10px;
    border-radius: 2px;
    opacity: .8;
}

input {
    border: none;
    border-bottom: 1px solid #bababa;
    background: none;
    outline: none;
    color: #bababa;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    margin-left: 1rem;
}

label {
    color: #bababa;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

form {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

.loginBtn {
    background-color: #bababa;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 1rem;
}

.logoutBtn{
    background-color: #e00000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    opacity: .7;
    transition: opacity .2s ease-in-out;
}

.logoutBtn:hover{
    opacity: 1;
}

.btn{
    background-color: #bababa;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    opacity: .8;
    transition: opacity .2s ease-in-out;
}

.btn.danger {
    background-color: #e00000;
    color: #fff;
}

.btn:hover{
    opacity: 1;
}

.user {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3d3d3d;
    padding: 5px 20px;
    border-radius: 3px;
    z-index: 10;
}

.user h1{
    color: #fff;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}